@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "DM Sans", sans-serif;
    background: #fff;
    background-color: #191919;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #191919;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #000;
    list-style: none;

}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1204px;
}

header,
footer {
    padding: 41px 0;
}

header nav,
footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.navbar.show {
    transform: translateY(0);
}

header nav>a img,
.contacts_info>img {
    width: 50px;
    height: 50px;
    border-radius: 45px;
    border: solid 3px rgb(231, 15, 170);
}

header nav ul,
footer nav ul {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
}

header nav ul li,
footer nav ul li {
    margin: 0 20px;
}

header nav ul li a,
footer nav ul li a {
    color: #A7A7A7;
    position: relative;
}

header nav ul li a.active::before {
    content: " ";
    position: absolute;
    transition: all 0.3 ease;
    width: 100%;
    height: 1px;
    bottom: -5px;
    background-color: #A7A7A7;
}

header nav a {
    margin: 0 10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.hero h1 {
    color: #D9D9D9;
    font-size: 58px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
}

.hero h1.name {
    background: linear-gradient(90deg, rgba(19, 176, 245, 1) 3%, rgba(231, 15, 170, 1) 100%);
    background-clip: text;
    color: transparent;
}

.hero img {
    height: 349px;
    width: 349px;
    border-radius: 50%;
    border: solid 5px rgba(231, 15, 170, 1);
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #CCCCCC;
    margin-top: 75px;
    margin-bottom: 50px;
}

.stack h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
}

.stack p {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;
    color: #A7A7A7;
}

.stack .stack-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding-top: 30px;
}

.stack .stack-logos .logo {
    flex: 1 1 calc(16.66% - 100%);
    box-sizing: border-box;
    text-align: center;
}

.stack .stack-logos .logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.contacts_info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-bottom: 45px;
    padding-top: 45px;
}

.contacts_info .contacts {
    color: #A7A7A7;
    font-family: 'DM Sans' sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
}

.contacts_info .contact_links a img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.contacts_info .contact_links a img:last-child {
    padding-left: 0;
}

.line {
    border: none;
    border-top: 2px solid rgba(204, 204, 204, 0.3);
}

.projects {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.projects .title {
    text-align: center;
}

.projects h1 {
    font-family: 'Poppins' sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #CCCCCC;
    margin-bottom: 10px;
}

.projects p {
    font-family: 'Poppins' sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #A7A7A7;
    margin-bottom: 30px;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(3, 373px);
    gap: 30px;
}

.project {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 373px;
    height: 567px;
    background: #363636;
    border-radius: 20px;
    overflow: hidden;
}

.project>img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.info-block {
    font-family: 'Poppins', sans-serif;
    color: #CCCCCC;
    text-align: left;
    width: 100%;
    margin-top: -10px;
}

.info-block h3 {
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0 10px 15px;
}

.info-block p {
    font-size: 18px;
    font-weight: 300;
    margin: 0px 0 15px 15px;
}

.info-block h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 10px 15px;
}

.info-block h4 span {
    font-size: 14px;
    font-weight: 300;
}

.info-block .links {
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.info-block a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    background: linear-gradient(90deg, rgba(19, 176, 245, 1) 3%, rgba(231, 15, 170, 1) 100%);
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

.info-block a img {
    margin-right: 8px;
    height: 16px;
    width: 16px;
}

.info-block a:hover {
    background: linear-gradient(90deg, rgb(19, 117, 245) 3%, rgb(238, 9, 115) 100%);
}

footer {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

footer nav ul {
    font-size: 18px;
    font-weight: 400;
    color: #A7A7A7;
    font-family: 'DM Sans' sans-serif;
}

footer nav ul li {
    margin: 0 20px;
}

footer nav ul li:first-child {
    margin-left: 0;
}

footer .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

footer .info a {
    background: linear-gradient(90deg, rgba(19, 176, 245, 1) 3%, rgba(231, 15, 170, 1) 100%);
    background-clip: text;
    color: transparent;
    margin-left: 10px;
}